body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 12px;
    text-align: left;
}

input[type="text"] {
    width: calc(100% - 24px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
}

button:hover {
    background-color: #45a098;
}

a {
    text-decoration: none;
    color: #4CAF50;
}

a:hover {
    text-decoration: underline;
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.alert-success {
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #3c763d;
}

.alert-danger {
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    color: #a94442;
}

#RegisterDoctor,
#RegisterPatient,
#getdoctordetails,
#getpatientdetails,
#updateDiagnosis,
#updateTreatment,
#viewAllRecords {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
}

#RegisterDoctor:hover,
#RegisterPatient:hover,
#getdoctordetails:hover,
#getpatientdetails:hover,
#updateTreatment:hover,
#updateDiagnosis:hover,
#viewAllRecords:hover {
    background-color: #45a098;
}

.deleteBtn{
    background-color: #d50000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;

}

.deleteBtn:hover{
    background-color: #e80202;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

